<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontpage.css">
    <title>Cadence</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img id="logo" src="logo.png" alt="Frequency Graph in Shape of Heart. The Cadence Logo.">
        </div>
        <div class="buttons">
            <ul>
                <li><button id="sign-up"><a href="signup.html">Sign Up</a></button></li>
                <li><button id="login"><a href="login.html">Login</a></button></li>
            </ul>
        </div>
    </nav>
    <div class="bodyStuff">
        <div class="textbox">
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur tempora vitae, nesciunt
                consectetur repudiandae, beatae dicta illo facere autem eius optio recusandae eos ad itaque, neque
                inventore cupiditate tempore?
            </p>
        </div>
    <div class="imageDiv">
        <img id="topImage" src="stock1.png" alt="a white box">
        <img id="leftImage" src="stock2.png" alt="a white box">
        <img id="rightImage" src="stock3.png" alt="a white box">
    </div>
    </div>
    <div class="bottomSignup">
        <button id="bottom-sign-up"><a href="signup.html">Sign Up</a></button>
    </div>

</body>
</html>