<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontpage.css">
    <title>Cadence</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img id="logo" src="logo-placeholder.jpg" alt="a white box">
        </div>
        <div class="buttons">
            <ul>
                <li><button id="sign-up">Sign Up</button></li>
                <li><button id="login">Login</button></li>
            </ul>
        </div>
    </nav>
    <div class="bodyStuff">
        <div class="textbox">
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur tempora vitae, nesciunt
                consectetur repudiandae, beatae dicta illo facere autem eius optio recusandae eos ad itaque, neque
                inventore cupiditate tempore?
            </p>
        </div>
    <div class="flex-child">
        <img id="topImage" src="logo-placeholder.jpg" alt="a white box">
        <img id="leftImage" src="logo-placeholder.jpg" alt="a white box">
        <img id="rightImage" src="logo-placeholder.jpg" alt="a white box">
    </div>
    </div>

</body>
</html>