html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}

.side-element {
    background-color: #295CA4;
    height: 100%;
    padding: 20px;
    box-shadow: 5px 4px 10px 12px #00000040;

}

.main-element {
    background: linear-gradient(180deg, #FF96A2 0%, rgba(255, 192, 200, 0.54) 99.99%, rgba(241, 180, 187, 0) 100%);
    height: 100%;
    padding: 20px;
}

.selection-screen {
    background: #000000B2;
    height: 80vh;
    width: 50vw;
    margin-bottom: 5%;
}


/* Add these styles without removing the existing ones */

.main-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

#user-details p {
    width: calc(100%/3);
    text-align: center;
}