<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Main Page</title>
</head>

<body>
    <div class="container">
        <div class="side-element">
            <p>Messages</p>
            <button type="button" id="match-id">Guy</button>

            <button type="button" id="settings"><a href="settings.html">Settings</a></button>
            <button type="button" id="profile"><a href="profile.html">Profile</a></button>
        </div>
        <div class="main-element">
            <div class="image-container">
                <img src="stock4.png" alt="guy with phone in hands looking at camera and smiling">
            </div>
            <div class="buttons-container">
                <button type="button" id="previous-button">Rewind</button>
                <button type="button" id="like-button">Dislike</button>
                <button type="button" id="next-button">Like</button>
            </div>
        </div>

    </div>
</body>

</html>