<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Main Page</title>
</head>

<body>
    <div class="container">
        <div class="side-element">
            <p>Messages</p>
            <button type="button" id="match-id">Guy</button>
        </div>
        <div class="main-element">
            <div class="selection-screen">
                <img src="stock4.png" alt="guy with phone in hands looking at camera and smiling">
                <button type="button" id="previous-button">Previous</button>
                <button type="button" id="like-button">Like</button>
                <button type="button" id="next-button">Previous</button>
            </div>
        </div>
    </div>
</body>

</html>