<!DOCTYPE html>
<html>
    <head>Login Page</head>

    <body>
        <section id="Overlay">
            <hr>
            <form>
                <h1>Login to Cadence</h1>
                <label for "username">Username</label>
                <input type="text" name="username" id="username" required placeholder="Please enter your username...">
                <br><br>
                <label for "password">Password</label>
                <input type="text" name="password" id="password" required placeholder="Please enter your password...">
                <br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </body>
</html>
