<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel=stylesheet href="profile.css">
    <script src="profile.js"></script>
</head>

<body>
    <div id="profile_data">
        <img id="profile_pic" src="stock2.png"
            alt="your profile pic or stock photo if one has not been uploaded by user">
        <div id="profile_details">
            <p id="profile-name">Your name here</p>
            <p id="profile-age">Your age here</p>
            <p id="profile-location">Your sex here</p>
            <p id="profile-genre">Your top genre here</p>
            <p id="profile-location">Your location here</p>
            <p id="profile-sexualpreference">Your sexual preference here</p>
        </div>
    </div>
</body>

</html>