<!DOCTYPE html>
<html>
    <head>Signup for Cadence</head>
    <body>
        <section id="Overlay">
            <hr>
            <form>
                <h1>Signup for Cadence</h1>
                <label for "username">Username</label>
                <input type="text" name="username" id="username" required pattern="[a-zA-Z0-9]" minlength="6" maxlength="20" placeholder="Please enter a username...">
                <p>Valid Characters: "a-z, A-Z, 0-9, @,!, #, $"</p>
                <br>
                <label for "password">Password</label>
                <input type="text" name="password" id="password" required pattern="[a-zA-Z0-9]!@#$_" minlength="8" maxlength="32" placeholder="Please enter a password...">
                <p>Valid Characters: "a-z, A-Z, 0-9, @,!, #, _, $"</p>
                <br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </body>
</html>
